nav{
    display: flex;
    
}

nav p{
    background-color:  rgb(59, 161, 201); 
    margin: auto 2px;
    border-radius: 2px;
}

@media (max-width:600px){
    nav{
        flex-direction: column;
    }
}